{% extends 'login-base.html' %} {% load staticfiles %}{% block title %}Login{% endblock %} {% block content %}

<section class="login">
    <div class="loginFormContainer">
        <div class="Logo Jaro">
            <a href=""><img src="{% static '/img/login_logo.png' %}"></a>
        </div>
        <!--<div class="company-title title_index">Welcome <span>back!</span></div>-->
        <div class="Login_Desciption">

        </div>
        <div class="formFields">
            <form method="post">
                {% csrf_token %}
                <div class="form-group ca">
                    <img src="{% static '/img/Login Page User Icon.png' %}" class="icon">
                    <input autofocus required id="id_username" name="username" type="text" value="">

                </div>
                <div class="form-group ca">
                    <img src="{% static '/img/Login Page Password Icon.png' %}" class="icon lock">
                    <input required id="id_password" name="password" type="password" value="">

                </div>
                <!--<div>
						<input class="form-control btn bg-theme" type="submit" id="btnLogin" value="Login" name="login">
					</div>-->
                <div class="Login_Sub">
                    <button class="btn bg-theme" type="submit" id="btnLogin">Login</button>

                </div>
                <div>
                    <a href="{% url 'password_reset' %}">Forgot password?
                            </a>
                </div>
            </form>
        </div>
    </div>
    <div class="register-button-block">
        <P>New Industry Partner?</P>
        <!-- username:danielle.trujillo@rrcc.edu password:WrbhAcmLdUo0MZpG -->
        <a href="{% url 'IndustryPartnerRegistration' %}">Create an Account</a>
    </div>
</section>

{% endblock %}