{% extends 'login-base.html' %} {% load i18n %}{% load staticfiles %}{% block title %}Password Reset{% endblock %} {% block content %}
<div class="password_change_block loginFormContainer2">
    <div class="row ">
        <div class="col-md-12 reset_pw">
            <h2>Reset Password</h2>
            <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="">
                        {{ form.email.errors }} Email address: {{ form.email }}

                    </div>
                    <input type="submit" value="{% trans 'Reset my password' %}" id="btnLogin2">
                </fieldset>
            </form>
        </div>


    </div>
</div>





{% endblock %}